
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>:: Web Imagem ::</title>
</head>
<body>
    <div> 
        <h3>Nenhuma imagem para o exame @ViewData["exameid"].</h3>
    </div>
</body>
</html>
