:root {
    --estagio00: #00A8FF;
    --estagio01: #EDDE0F;
    --estagio02: #ED1C24;
    --estagio03: #46C35F;
    --estagio04: #20F0FB;
    --estagio05: #FFA466;
    --estagio06: #C47BC4;
    --estagio07: #C3C3C3;
    --estagio00background: #ABE1FC;
    --estagio01background: #FFFABC;
    --estagio02background: #FFDADA;
    --estagio03background: #ABF5BA;
    --estagio04background: #D2FCFF;
    --estagio05background: #FFE5D2;
    --estagio06background: #EBCDEB;
    --estagio07background: #EFEFEF;
    --estagio11: #880015;
    --estagio12: #FFAEC9;
    --estagio13: #7092BE;
    --estagio14: #BC8B0C;
    --estagio15: #000000;
    --estagio11background: #E8C9CE;
    --estagio12background: #FFEFF5;
    --estagio13background: #E9F3FF;
    --estagio14background: #EBE6D8;
    --estagio15background: #D8D8D8;
}
